@charset "utf-8";

* {
	box-sizing: border-box;
}
/*
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
*/

body {
	font-family: Arial;
	background-color: #262626;
}
/**/
/*
#wrapper {
  	margin: 0 auto;
  	width: 1000%;
	height: 1200px;
	border: 1px solid black;
	background-color: aqua;
}
*/

/*
#header {
	width: 100%;
	height: 150px;
	border: 1px solid black;
	background-color: red;
}

#main {
	width: 100%;
	height: 1050px;
	border: 1px solid black;
	background-color: green;
}
*/
.boxWrapper {
	width: 50%;
	height: 50%;
	padding: 2%;
	position: absolute;
	top: 30px;
	right: 30px;
	border-top: 3px solid red;
	border-right: 3px solid red;
}
#textWrapper {
	width: 45%;
	height: 50%;
	padding: 2%;
	position: absolute;
	top: 40%;
	left: 15%;
}

.box {
	height: 30%;
	width: 30%;
	margin: 2%;
	float: right;
	color: rgb(94, 94, 94);
	display: inline-block;
	border: 0.5px solid black;
	border-radius: 5px;
	background-color: rgb(31, 31, 31);
	line-height: 100px;
	text-align: center;
}
.box:hover {
	background-color: blue;
	color: white;
	vertical-align: middle;
	cursor: default;
}
#welcomeText {
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid red;
}
#welcomeTitle {
	color: lightgrey;
	float: right;
	font-size: 30px;
}
#footerText {
	color: white;
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-size: 12px;
}

/* ------------------------------------ MEDIA QUERIES ----------------------------------------- */
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
*/		
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 400px) {
	.nav a {
		float: none;
		width: 100%;
	}
}
*/
/*
@media print {
	html, body {
		--displayWidth: ;
		--displayHeight: ;
		width: var(--displayWidth);
		height: var(--displayHeight);
		
		1490px;
		margin: 1cm auto;
		border: none;
		padding: 2cm;
	}
}
*/
/*
@page {
	margin: 2.5cm;
	
}
*/
/* ------------------------------------ TRANSITIONS ----------------------------------------- */

.moveMe {
	/*transform: translate3d(500px, 500px, 0px);
	transition: transform 5s;  Doesn't seem to work*/
	transition: all 3s ease-in;
}

/* ------------------------------------------------------

