@charset "utf-8";

* {
	box-sizing: border-box;
}
body {
	background-color: white;
	font-family: Arial;
	margin: 0px;
}
#quizHeader {
	background-color: blue;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
}
#quizMain {
	height: 400px;
	background-color: white;
	padding-top: 10%;
}
#navBar {
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
}
.howToButton {
	float: right;
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: red;
	border: 2px solid white;
	margin: 20px;
	border-radius: 50%;
	line-height: 40px;
}
.quizButton {
	background-color: red;
	display: inline-block;
	width: 30%;
	margin: 0 auto;
	border-radius: 20px;
}
.quizButton:hover {
	cursor: default;
	color: black;
}
.howToButton:hover {
	cursor: default;
}
#questionNumberLabel {
	float: left;
	font-size: 20px;
	font-weight: bold;
}
#questionWrapper {
	margin: auto;
	width: 40%;
	height: fit-content;
	font-size: 40px;
}
#questionText {
	text-align: center;
}
.choiceButton {
	background-color: lightgrey;
	border: 3px solid black;
	display: none;
	width: 30%;
	margin: 0 auto;
	border-radius: 20px;
	color: black;
}
.choiceButton:hover {
	cursor: default;
	color: red;
}
#navBarSpacer {
	height: 30px;

}
#footerText {
	color: grey;
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-size: 12px;
}

/* ------------------------------------ MEDIA QUERIES ----------------------------------------- */

/* Responsive layout - when the screen is less than 400px wide, 
make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
	#questionWrapper {
		float: none;
		width: 80%;
		padding: 20px;
	}
}
@media screen and (max-width: 800px) {
	.quizButton {
		float: none;
		width: 100%;
		border-radius: 0px;
		margin: 2px;
		border: 0.5px solid black;
	}
}
/* ------------------------------------------------------

